/* General Button styles */
.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}


/* Button types*/
.btn-primary{
    background-color: #0055aa;
    color: white;
}

.btn-primary:hover {
    background-color: #003d82;
}

.btn-secondary {
    background-color: #f0f0f0;
    color: #333;
}

.btn-secondary:hover {
    background-color: #d9d9d9;
}

.btn-danger {
    background-color: #f44336;
    color: white;
}

.btn-danger:hover {
    background-color: #e31b0c;
}

.btn-success {
    background-color: #4caf50;
    color: white;
}

.btn-success:hover {
    background-color: #45a049;
}

.btn-warning {
    background-color: #ff9800;
    color: white;
}

.btn-warning:hover {
    background-color: #e68900;
}