.form-container {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .form-container:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  
  .form-container h2 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 15px;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .form-container input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .form-container input.is-invalid {
    border-color: var(--error-color);
    box-shadow: 0 0 5px var(--error-color);
  }
  
  .form-container .error-message {
    color: var(--error-color);
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .form-container button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
  
  .form-container button:hover {
    background-color: var(--secondary-color);
    transition: background-color 0.3s ease;
  }

  /* Prefijos */
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-group select,
  .form-group input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group select {
    width: 100px; 
  }
  