html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

:root {
  --primary-color: #1A3E5C; /* Azul Marino */
  --secondary-color: #4A90E2; /* Azul Claro */
  --background-color: #F5F5F5; /* Gris Claro */
  --text-color: #4A4A4A; /* Gris Oscuro */
  --accent-color: #3CB371; /* Verde Esmeralda */
  --border-color: #ccc;
  --button-hover-color: #3CB371;
}

[data-theme="dark"] {
  --background-color: #121212;
  --primary-color: #4a90e2;
  --secondary-color: #3cb371;
  --text-color: #e0e0e0;
  --border-color: #555;
  --button-hover-color: #0073e6;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--background-color);
}

/* Header */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 97.5%;
  z-index: 1000;
  height: 60px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 25px; 
  border-bottom-right-radius: 25px; 
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.logo {
  height: 50px; /* Tamaño del logo */
  margin-right: 15px; /* Espacio entre el logo y el menú desplegable */
}

.dropdown-menu {
  position: relative;
  margin-right: auto; /* Empuja el botón de cambio de tema hacia la derecha */
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 10px;
  margin: 0;
  display: none;
  flex-direction: column;
  border-radius: 4px;
  z-index: 100;
}

.dropdown-menu:hover .dropdown-content {
  display: flex;
}

.dropdown-content li {
  margin: 5px 0;
}

.dropdown-content li a,
.dropdown-content li button {
  color: white;
  text-decoration: none;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.dropdown-content li a:hover,
.dropdown-content li button:hover {
  background-color: var(--secondary-color);
  border-radius: 4px;
}


.dropdown-menu:hover .dropdown-content {
  display: block;
}

.theme-toggle-button {
  margin-left: auto; /* Empuja el botón de cambio de tema hacia el extremo derecho */
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.theme-toggle-button:hover {
  background-color: var(--secondary-color);
}

/* Contenido principal */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
  margin-top: 10px; /* Altura del header */
  margin-bottom: 0px; /* Altura del footer */
  overflow: hidden;
  overflow-y: auto; 
  overflow-x: hidden;
  position: relative; 
  z-index: 1; 
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--background-color);
}

.app-main {
  flex: 1;
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.button-section,
.form-section {
  margin-bottom: 40px;
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--text-color);
}

.app-footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

/* Botones */
.button-group button {
  background-color: var(--secondary-color);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
}

.button-group button:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.05);
}

/* Footer */
.app-footer {
  display: flex;
  background-color: var(--primary-color);
  color: white;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px; 
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  max-width: 97.5%;
  z-index: 1000;
  height: 60px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); 
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px; 
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.social-links {
  display: flex;
  gap: 15px;
  justify-content: end;
  align-items: center;
}

.social-links img {
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-links img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

/* Scrollbar personalizado */
.main-content::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.main-content::-webkit-scrollbar-thumb {
  background: var(--primary-color); /* Color del scrollbar */
  border-radius: 4px; /* Redondeo */
}

.main-content::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color); /* Color al pasar el cursor */
}





/* Estilos login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.login-form {
  background: rgba(255, 255, 255, 0.4); /* Fondo translúcido */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  border: 1px solid var(--border-color);
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 1.8rem;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  font-size: 1rem;
  color: var(--text-color);
  box-sizing: border-box;
}

.login-form input:focus {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0px 0px 5px var(--secondary-color);
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: var(--accent-color);
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 0.9rem;
  text-align: center;
}