html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif; /* Fuente principal */
  overflow-x: hidden; /* Mantén oculto el desplazamiento horizontal */
  overflow-y: auto; /* Habilita el scroll vertical */
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #1A3E5C; /* Azul marino */
  --secondary-color: #4A90E2; /* Azul claro */
  --accent-color: #3CB371; /* Verde */
  --background-color: #F5F5F5; /* Gris claro */
  --text-color: #4A4A4A; /* Texto gris oscuro */
  --hover-color: #4A90E2; /* Azul Hover */
  --neon-color: #89b9f0; /* Neón azul */
  --border-color: #ccc;
  --button-hover-color: #3CB371;
}

/* General */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal */
}

[data-theme="dark"] {
  --background-color: #121212;
  --primary-color: #4a90e2;
  --secondary-color: #3cb371;
  --text-color: #e0e0e0;
  --border-color: #555;
  --button-hover-color: #0073e6;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ajusta la altura mínima */
  background-color: var(--background-color);
  display: flex;
  flex-direction: column; /* Asegura que el contenido fluya verticalmente */
}

/* Header */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  z-index: 1000;
  height: 60px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius:0px; 
  border-bottom-right-radius: 25px; 
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Menú Navegación */
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: lighter;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: white;
  filter: drop-shadow(0 0 2px var(--hover-color));
}

/* Logo Header */
.logo {
  width: 40px; /* Tamaño del logo */
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
  margin-right: 15px; /* Espacio entre el logo y el menú desplegable */
  filter: none; /* Sin neón por defecto */
}

.logo-container .logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 0.5px var(--hover-color));
}

/* Menú de las tres rayas en el header */
.dropdown-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%; /* Ocupamos toda la altura del header */
  position: relative;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center; /* Asegura que el icono también esté centrado */
  justify-content: center;
  height: 100%; /* Ajusta la altura al contenedor */
  margin-left: auto; /* Empuja hacia la derecha */
}

.menu-toggle:hover {
  transform: scale(1.1);
  color: white;
  filter: drop-shadow(0 0 2px var(--hover-color));
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 10px;
  margin: 0;
  display: none;
  flex-direction: column;
  border-radius: 4px;
  z-index: 100;
}

.dropdown-menu:hover .dropdown-content {
  display: flex;
}

.dropdown-content li {
  margin: 5px 0;
}

.dropdown-content li a,
.dropdown-content li button {
  color: white;
  text-decoration: none;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.dropdown-content li a:hover,
.dropdown-content li button:hover {
  background-color: var(--secondary-color);
  border-radius: 4px;
}

.dropdown-menu:hover .dropdown-content,
.dropdown-content:hover {
  display: flex;
}

.theme-toggle-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.theme-toggle-button:hover {
  background-color: var(--secondary-color);
}

/* Contenido principal */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
  margin-top: 10px; /* Altura del header */
  margin-bottom: 0px; /* Altura del footer */
  overflow: hidden;
  overflow-y: auto; 
  overflow-x: hidden;
  position: relative; 
  z-index: 1; 
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--background-color);
  padding-bottom: 60px;
}

.app-main {
  flex: 1;
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* Footer */
.app-footer {
  display: flex;
  background-color: var(--primary-color);
  color: white;
  justify-content: space-between;
  align-items: center; /* Centra todos los elementos verticalmente */
  padding: 10px 20px;
  font-size: 14px;
  position: relative;
  bottom: auto;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 0px;
  border-top-right-radius: 25px;
  /*border: 2px solid red; Para depurar borde visible */
  /* background-color: rgba(255, 0, 0, 0.1); Depuración: Fondo rojo translúcido */ 
}

/* Centramos el texto en el footer */
.footer-text {
  flex: 1;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center;
  margin: 0;
}

/* Redes sociales alineadas a la derecha y centradas verticalmente */
.social-links {
  display: flex;
  gap: 15px; /* Espacio reducido entre iconos */
  justify-content: flex-end; /* Alinea a la derecha */
  align-items: center; /* Centra verticalmente los iconos */
  height: 100%; /* Ocupa la altura total del footer */
}

.social-links img {
  height: 24px; /* Tamaño de los iconos */
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-links img:hover {
  opacity: 0.8;
  transform: scale(1.1);
  filter: drop-shadow(0 0 2px var(--hover-color)); /* Efecto de hover */
}

/* Scrollbar personalizado */
.main-content::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.main-content::-webkit-scrollbar-thumb {
  background: var(--primary-color); /* Color del scrollbar */
  border-radius: 4px; /* Redondeo */
}

.main-content::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color); /* Color al pasar el cursor */
}

/* Estilos login form */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.login-form {
  background: rgba(255, 255, 255, 0.4); /* Fondo translúcido */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  border: 1px solid var(--border-color);
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 1.8rem;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  font-size: 1rem;
  color: var(--text-color);
  box-sizing: border-box;
}

.login-form input:focus {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0px 0px 2px var(--secondary-color);
}

/* Mensaje error */
.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 0.9rem;
  text-align: center;
}