:root {
  --primary-color: #1A3E5C; /* Azul marino */
  --secondary-color: #4A90E2; /* Azul claro */
  --accent-color: #3CB371; /* Verde */
  --background-color: #F5F5F5; /* Gris claro */
  --text-color: #4A4A4A; /* Texto gris oscuro */
  --hover-color: #4A90E2; /* Azul Hover */
  --neon-color: #89b9f0; /* Neón azul */
  --border-color: #ccc;
  --button-hover-color: #3CB371;
}

.comments-section {
  margin-top: 10px;
  background-color: var(--background-color);
  padding: 20px;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.comments-section h4 {
  font-size: 14px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.comments-section ul {
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
}

.comments-section li {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
}

.comment-input {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.comment-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.comment-input button {
  padding: 8px 16px; /* Ajustar para que coincida */
  font-size: 14px; /* Mismo tamaño de texto */
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.comment-input button:hover {
  background-color: var(--secondary-color);
}
