body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --primary-color: #1A3E5C; /* Azul marino */
  --secondary-color: #4A90E2; /* Azul claro */
  --accent-color: #3CB371; /* Verde */
  --background-color: #F5F5F5; /* Gris claro */
  --text-color: #4A4A4A; /* Texto gris oscuro */
  --hover-color: #4A90E2; /* Azul Hover */
  --neon-color: #89b9f0; /* Neón azul */
  --border-color: #ccc;
  --button-hover-color: #3CB371;
}

.main-container {
  background-image: url('../assets/images/fondo-pantalla-nexeus-big-data-contacto.jpg');
  background-size: cover;
  margin: 0; 
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
}

.form-container {
  position: relative;
  background: rgba(255, 255, 255, 0.4); /* Fondo translúcido */
  border: 1px solid var(--background-color); 
  border-radius: 12px; 
  padding: 30px; 
  max-width: 400px; 
  margin: auto; /* Centra la forma vertical y horizontalmente */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  z-index: 1; /* Asegura que el contenido esté delante */
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
}

.form-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px); 
  z-index: -1; 
  border-radius: 10px; 
}

.form-container:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.form-container h2 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.form-container input,
.form-container select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 18px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7); /* Ligera transparencia en inputs */
  color:var(--text-color);
}

.form-container input:focus,
.form-container select:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 5px var(--secondary-color);
  outline: none;
  color:var(--text-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-container button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.form-container button:hover {
  background-color: var(--secondary-color);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: 10px;
  text-align: left;
}